.card {
    margin-top: 200px;
  }
  
  .card__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    
  }
  
  .card__line {
    background-color: rgb(171, 4, 51);
    height: 3px;
    width: 60px;
  }
  
  .card__top--title {
    color: #505050;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  
  .card__botom {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .card__botom__cards {
    max-width: 400px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    border-radius: 0px 0px 10px 10px;
    background: var(--True-White, #fff);
    
  }
  
  .card--img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin: auto;
    display: block;
    background: radial-gradient(138.81% 138.29% at 1.22% 1.08%, #fbfbfb 0%, #d3d3d3 100%);
    border-radius: 10px 10px 0px 0px;
  }
  
  .card__botom__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .card__botiom__info--title {
    color: var(--252525, #252525);
    font-size: 18px;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
  }
  
  .card__botiom__info--narx {
    color: var(--252525, #252525);
    font-size: 18px;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
  }
  
  .card__botom__text {
    color: var(--767676, #767676);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  .card__botom--btn {
    border-radius: 20px;
    border: 1px solid var(--eaeaea, #eaeaea);
    color: #505050;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    background: none;
    
  }
  
  .none {
    display: none;
  }
  
  .bg {
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  @media screen and (max-width: 1040px) {
    .card__botom {
      flex-wrap: wrap;
      justify-content: center;
    }
    .card__botom .card__botom__cards {
      max-width: 432px !important;
    }
    .none {
      display: block;
    }
    .card__line {
      width: 259px;
    }
    .card__top--title {
      font-size: 40px;
    }
  }
  @media screen and (max-width: 779px) {
    .card__line {
      width: 80px;
    }
    .card__top--title {
      font-size: 24px;
    }
    .bg {
      margin-top: 40px;
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }