.footer {
    margin-top: 88px;
    background: var(--505050, #505050);
    padding-top: 69px;
    padding-bottom: 109px;
  }
  
  .footer__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__left {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  
  .footer__items {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  
  .footer__items--item {
    color: var(--White, #fff);
    font-size: 14px;
    font-weight: 400;
  }
  
  .liner {
    width: 58px;
    background-color: white;
    height: 3px;
  }
  
  .about {
    color: var(--White, #fff);
    font-size: 14px;
    font-weight: 700;
    line-height: 130%; /* 18.2px */
  }
  
  .footer__right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: end;
    padding-top: 50px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  @media screen and (max-width: 660px) {
    .footer {
      margin-top: 33px;
      padding: 37px 0;
    }
    .footer__wrap {
      flex-direction: column;
    }
    .footer__img {
      display: none;
    }
    .f-none {
      display: none;
    }
    .footer__items {
      align-items: center;
    }
    .footer__right {
      padding: 0;
    }
    .logo {
      align-items: center;
      margin-top: 16px;
    }
  }